<label for="nm-dept">
    Dept
    <input id="nm-dept" type="text" class="form-control text-input dept new" placeholder="Dept" maxlength="20">
</label>
<label for="nm-dept-desc">
    DeptDesc
    <input id="nm-dept-desc" type="text" class="form-control text-input dept-desc new" placeholder="DeptDesc" maxlength="100">
</label>