@using HearstMappingsEditor.Data.Models

<tr class="filters">
    <th class="actions-col"></th>
    <th></th>
    <th><input type="text" class="form-control text-filter text-input conso-section-desc" placeholder="Any" data-previous-val=""></th>
    <th><input type="text" class="form-control text-filter text-input conso-section-code" placeholder="Any" data-previous-val=""></th>
    <th></th>
</tr>

<tr>
    <th class="actions-col"></th>
    <th><span class="sort unsorted" data-sort-type="@((int)DimConsoSectionSortTypes.Id)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)DimConsoSectionSortTypes.ConsoSectionDesc)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)DimConsoSectionSortTypes.ConsoSectionCode)"></span></th>
</tr>