<label for="nm-conso-section-desc">
    ConsoSectionDesc
    <input id="nm-conso-section-desc" type="text" class="form-control text-input conso-section-desc new" placeholder="ConsoSectionDesc" maxlength="50">
</label>
<label for="nm-conso-section-code">
    ConsoSectionCode
    <input id="nm-conso-section-code" type="text" class="form-control text-input conso-section-code new" placeholder="ConsoSectionCode" maxlength="50">
</label>