<label for="nm-company-code">
    CompanyCode
    <input id="nm-company-code" type="text" class="form-control text-input company-code new" placeholder="CompanyCode" maxlength="64">
</label>
<label for="nm-company-desc">
    CompanyDesc
    <input id="nm-company-desc" type="text" class="form-control text-input company-desc new" placeholder="CompanyDesc" maxlength="256">
</label>