<label for="nm-product-desc">
    ProductDesc
    <input id="nm-product-desc" type="text" class="form-control text-input product-desc new" placeholder="ProductDesc" maxlength="255">
</label>
<label for="nm-product-code">
    ProductCode
    <input id="nm-product-code" type="text" class="form-control text-input product-code new" placeholder="ProductCode" maxlength="10">
</label>