<label for="nm-perimeter-code">
    PerimeterCode
    <input id="nm-perimeter-code" type="text" class="form-control text-input perimeter-code new" placeholder="PerimeterCode" maxlength="64">
</label>
<label for="nm-perimeter-desc">
    PerimeterDesc
    <input id="nm-perimeter-desc" type="text" class="form-control text-input perimeter-desc new" placeholder="PerimeterDesc" maxlength="256">
</label>
<label for="nm-perimeter-currency">
    PerimeterCurrency
    <input id="nm-perimeter-currency" type="text" class="form-control text-input perimeter-currency new" placeholder="PerimeterCurrency" maxlength="64">
</label>