<label for="nm-account-desc">
    AccountDesc
    <input id="nm-account-desc" type="text" class="form-control text-input account-desc new" placeholder="AccountDesc" maxlength="255">
</label>
<label for="nm-account-code">
    AccountCode
    <input id="nm-account-code" type="text" class="form-control text-input account-code new" placeholder="AccountCode" maxlength="50">
</label>