<label for="nm-account-group-desc">
    AccountGroupDesc
    <input id="nm-account-group-desc" type="text" class="form-control text-input account-group-desc new" placeholder="AccountGroupDesc" maxlength="500">
</label>