<label for="nm-entity-desc">
    EntityDesc
    <input id="nm-entity-desc" type="text" class="form-control text-input entity-desc new" placeholder="EntityDesc" maxlength="128">
</label>
<label for="nm-entity-code">
    EntityCode
    <input id="nm-entity-code" type="text" class="form-control text-input entity-code new" placeholder="EntityCode" maxlength="32">
</label>
<label for="nm-entity-currency">
    EntityCurrency
    <input id="nm-entity-currency" type="text" class="form-control text-input entity-currency new" placeholder="EntityCurrency" maxlength="8">
</label>