<label for="nm-year-id">
    YearId
    <input id="nm-year-id" type="text" class="form-control text-input numeric-input year-id new" placeholder="YearID" maxlength="4" name="yearId">
</label>
<label for="nm-year-code">
    YearCode
    <input id="nm-year-code" type="text" class="form-control text-input year-code new" placeholder="YearCode" maxlength="4" name="yearCode">
</label>
<label for="nm-year-desc">
    YearDesc
    <input id="nm-year-desc" type="text" class="form-control text-input year-desc new" placeholder="YearDesc" maxlength="64">
</label>