@using HearstMappingsEditor.Data.Models

@model IList<DimAllOrgStructure>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        Html.RenderPartial("_ListItem", item);
    }
}
else
{
    <tr class="nothing-found">
        <td colspan="4">Nothing found</td>
    </tr>
}