<label for="nm-all-org-structure">
    AllOrgStructure
    <input id="nm-all-org-structure" type="text" class="form-control text-input all-org-structure new" placeholder="AllOrgStructure" maxlength="256">
</label>