@using HearstMappingsEditor.Data.Models

@model Tuple<IList<ItemPLKindsViewModel>, IList<ItemPLKindsRestriction>>

@if (Model.Item1.Any())
{
    foreach (var mapping in Model.Item1)
    {
        Html.RenderPartial("_ListItem", new Tuple<ItemPLKindsViewModel, IList<ItemPLKindsRestriction>>(mapping, Model.Item2));
    }
}
else
{
    <tr class="nothing-found">
        <td colspan="5">Nothing found</td>
    </tr>
}