@using HearstMappingsEditor.Data.Models

@model Tuple<IList<BrandMappingViewModel>, IList<BrandMappingRestriction>>

@if (Model.Item1.Any())
{
    foreach (var mapping in Model.Item1)
    {
        Html.RenderPartial("_ListItem", new Tuple<BrandMappingViewModel, IList<BrandMappingRestriction>>(mapping, Model.Item2));
    }
}
else
{
    <tr class="nothing-found">
        <td colspan="11">Nothing found</td>
    </tr>
}