<label for="nm-perimeter-law-code">
    PerimeterLawCode
    <input id="nm-perimeter-law-code" type="text" class="form-control text-input perimeter-law-code new" placeholder="PerimeterLawCode" maxlength="64">
</label>
<label for="nm-perimeter-law-desc">
    PerimeterLawDesc
    <input id="nm-perimeter-law-desc" type="text" class="form-control text-input perimeter-law-desc new" placeholder="PerimeterLawDesc" maxlength="256">
</label>

