<label for="nm-channel-desc">
    ChannelDesc
    <input id="nm-channel-desc" type="text" class="form-control text-input channel-desc new" placeholder="ChannelDesc" maxlength="255">
</label>
<label for="nm-channel-code">
    ChannelCode
    <input id="nm-channel-code" type="text" class="form-control text-input channel-code new" placeholder="ChannelCode" maxlength="50">
</label>