@using HearstMappingsEditor.Data.Models

@model IList<DimScenario>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        Html.RenderPartial("_ListItem", item);
    }
}
else
{
    <tr class="nothing-found">
        <td colspan="7">Nothing found</td>
    </tr>
}