@using HearstMappingsEditor.Data.Models

<tr class="filters">
    <th class="actions-col"></th>
    <th></th>
    <th><input type="text" class="form-control text-filter text-input pl-group-name" placeholder="Any" data-previous-val=""></th>
</tr>

<tr>
    <th class="actions-col"></th>
    <th><span class="sort unsorted" data-sort-type="@((int)DimPLGroupSortTypes.Id)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)DimPLGroupSortTypes.PLGroupName)"></span></th>
</tr>